/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/* Слайд */
.slick-slide{
    margin:0 20px;
    @media (max-width:500px){margin: 0;}
}
/* Стрелка */
.slick-arrow{
    font-size: 0;
    width: 55px;
    height: 30px;
    animation: showBlock 0.8s linear forwards;
    @media (min-width:2560px){width: 120px; height: 60px;}
    @media (min-width:3464px){width: 150px; height: 85px;}
}

/* Стрелка влево */
.slick-arrow.slick-prev{
    background: url("../img/arr.svg") 100% 100%/cover no-repeat; 
    transform: rotate(180deg);
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    background: url("../img/arr.svg") 100% 100%/cover no-repeat; 
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
    display: none !important;
}

.arrows {
    width: 15%;
    @media(min-width:2560px){width: 17%;}
    @media(min-width:2560px){width: 14%;}
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .step {
        color: #1d294a;
        margin: 0px 15px;
        font-size: 16px;
        @media (max-width: 600px) {
            display: none;
        }
        @media(min-width:2560px){font-size: 42px;}
        @media(min-width:3840px){font-size: 52px;}
    }
}