//--------------------------------------------------Миксины-----------------------------------------------//
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }    
}
//--------------------------------------------------------------------------------------------------------//

//--------------------------------------------------Импорт------------------------------------------------//
@import 'nullstyle.scss';
@import 'fonts.scss';
@import 'slider.scss';
//--------------------------------------------------------------------------------------------------------//

//--------------------------------------------------Общие стили-------------------------------------------//
body{
    height: 100%;
    font-family: "Centurygothic";
    background-color: #FAFAFA;
}
.wrapper{
    position: relative;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.main{
    flex: 1 1 auto;
}
.title{
    font-size: 36px;
    color: #0F1693;
    margin: 0 auto 60px;
    text-align: center;

}
//-----------------------------------------------------------------------------------------------------------//

//--------------------------------------------------Header---------------------------------------------------//
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    &__container {
        @media (max-width:600px){height: 50px; padding: 0 15px;}
        height: 70px;
        position: relative;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        max-width: 100%;
        padding: 0 40px;
    }
    &__border{
        @media (max-width:425px){bottom: -20px;}
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: linear-gradient(to bottom,rgba(15,22,147,0.6786064767703957), transparent);
}
.border{
    z-index: 60;
    &__after {width: 60%; background-color: #0F1693; height: 2px; @media (max-width:767px){width: 50%;}}
    &__before{width: 30%; background-color: #0F1693; height: 2px; @media (max-width:767px){width: 50%;}}
    .header-logo{
        a{display:flex; justify-content: center; align-items: center;}
        transform: translateY(-50%);
        margin: 0 15px;
        @media (max-width:767px){min-width:120px}
        width: 170px;
        img{width: 100%; height: 100%;}
    }
}
.header-burger {
    span {
        transition: all ease 0.4s;
        top: 8px;
        left: 0px;
        position: absolute;
        height: 2px;
        background-color: #0F1693;
        &:first-child{top: 0px; width: 100%;}
        &:nth-child(2){width: 15px;}
        &:nth-child(3){top: auto; bottom: 0px; width: 20px;}
    }
    &.active{
        position: fixed;
        transition: all ease 0.4s;
        span{
            background-color: white;
            &:first-child{
                transform: rotate(-45deg);
                top: 8px;
            }
            &:nth-child(2){transform: scale(0);}
            &:nth-child(3){
                transform: rotate(45deg);
                bottom: 8px;
                width: 100%;
            }
        }
    }
}
.burger{
    display: block;
    position: absolute;
    @media (max-width:600px){top: 16px; left: 15px;}
    top: 25px;
    left: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 55;
    &__label{
        @media (max-width:600px){font-size: 14px; top: 3px; margin-left: 40px;}
        position: relative;
        color: #0F1693;
        top: 1px;
        margin-left: 50px;
        font-size: 16px;
    }
}
.header-tel{
    z-index: 55;
    a{    display: block;
        color: #0F1693}
}
//--------------------------------------------------Меню-------------------------------------------------//
.menu{
    overflow: auto;
    left: -120%; 
    transition: all ease 0.4s; 
    position: absolute;
    @media (max-width:425px){width: 100%;}
    width: 400px;
}
.menu.active {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: #0F1693;
    padding: 100px 40px 0;
    height: 100vh;
    transition: all ease 0.4s;
}
.menu-list {
    display: flex;
    flex-direction: column;
}
.list {
    &__item:not(:last-child) {
        margin-bottom: 50px;
    }
}
.item {
    position: relative;
    &__link.sub.active{
        margin-bottom: 20px;
    }
    &__link {
        display: block;
        color: white;
        font-size: 24px; 
    }
    &__link:not(:last-child, :nth-child(3))::after{
        margin-left: 30px;
        content: '';
        width: 20px;
        height: 5px;
        border-bottom: 1px solid white;
    }
    &__arrow{
        position: absolute;
        @media (max-width:425px){right: 15px;}
        right: 110px;
        top: 10px;
        width: 0;
        height: 0;
        border-top: 10px solid white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        transition: all ease 0.4s;
    }
    &__arrow.active{transform: rotate(-180deg); transition: all ease 0.4s;}
}
.sub-menu {
    display: none;
    transition: all ease 0.4s;
    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
    &.active{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        transition: all ease 0.4s;
    }
}
.sub-menu-item {
    &__link {
        color: white;
        opacity: 0.7;
        font-size: 18px;
        font-family: 'Candara';
    }
}
//-----------------------------------------------------------------------------------------------------------//

//-----------------------------------------------------------------------------------------------------------//
//--------------------------------------------------Showcase-------------------------------------------------//

//-----------------------------------------------------------------------------------------------------------//
//--------------------------------------------------Направления----------------------------------------------//

//-----------------------------------------------------------------------------------------------------------//
//--------------------------------------------------Технологии-----------------------------------------------//

//-----------------------------------------------------------------------------------------------------------//
//--------------------------------------------------Лозунг---------------------------------------------------//

//-----------------------------------------------------------------------------------------------------------//
//--------------------------------------------------О компании-----------------------------------------------//

//-----------------------------------------------------------------------------------------------------------//
//--------------------------------------------------Новости и события----------------------------------------//
.news {
    width: 100%;
    padding: 130px 0px 70px;
}

.news-slider {
    position: relative;
    padding: 0px 0px 20px;
    &__item {
        display: flex;
        flex-direction: column;
    }
}
.card {
    &__title {
        font-size: 19px;
        line-height: 150%;
        padding: 0px 0px 5px;
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: black;
    }

    &__date {
        font-family: 'Candara';
        font-size: 12px;
        padding: 3px 0px 15px;
        color:rgb(133, 133, 133);
    }
    &__image {
        padding-bottom: 58%;
    }

    &__link {
        font-family: 'Candara';
        font-size: 14px;
        color: black;
        position: relative;
        padding: 8px 0px 0px;
        &::after {
            content: "";
            position: absolute;
            left: 75px;
            top: 8px;
            z-index: 10000000;
            width: 20px;
            height: 15px;
            background: url('../img/arrow.png') center center/cover no-repeat;
        }
    }
}
//-----------------------------------------------------------------------------------------------------------//
//--------------------------------------------------Footer---------------------------------------------------//
.footer {
    width: 100%;
    padding: 50px 0px 20px 0px;
    background-color: #0F1693;
    font-family: 'Candara';
    & span {
        opacity: 0.6;
        display: block;
        text-align: center;
        color: white;
        // color:rgb(168, 168, 168);
        letter-spacing: 0.5px
    }
}
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // Если правильно помню, ты говорил, что стараться не мешать паддинги и маржины, поэтому отспут так сделал
    padding: 0px 0px 40px 0px;
    &__item {
        font-size: 18px;
        letter-spacing: 1.5px;
        a {
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
//-----------------------------------------------------------------------------------------------------------//